body {
  font-family: Arial, sans-serif;
  margin: 20px;
  }
form {
  display: flex;
  flex-direction: column;
}  
label {
  color: blue;
  font-weight: 400;
  }

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  }

.excuse {
  background-color: aquamarine;
  margin-top: 20px;
  font-style: italic;
  border: 1px solid #ccc;
  padding: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  }
h3 {
  color: red;
}
.logo {
  width: 250px;
  height: 100px;

}